<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/default.css" />
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="mainnav">
                    <ul class="navigation-menu">
                        <li> <a href="{{ site.baseurl }}/index.html" title class>Home</a> </li>
                        <li> <a href="{{ site.baseurl }}/blog.html" title class>Blog</a> </li>
                        <li> <a href="{{ site.baseurl }}/about.html" title class>About</a> </li>
                        <li> <a href="{{ site.baseurl }}/contact.html" title class>Contact</a> </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content-header">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="content-body">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
